{% extends 'layout/base.html' %}
{% load humanize %}
{% block title %}
    {% if blog_post %}
        {{ blog_post.title }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h1 class="post-title">{{ blog_post.title }}</h1>
                <p class="post-meta">Written by <a href="#"
                                                   class="text-decoration-none text-light">{{ blog_post.author.first_name }} {{ blog_post.author.last_name }}</a>
                </p>
                <hr>
                <p class="post-meta">Posted {{ blog_post.date_published | naturaltime }}</p>
                <hr>
                {% if blog_post.preview_image %}
                    <img src="{{ blog_post.preview_image.url }}" alt="Blog Post Image" class="img-fluid">
                {% endif %}
                <div class="post-content">
                    {{ blog_post.content | safe }}
                </div>

            </div>
            <div class="col-md-4">

                <div class="sidebar">
                {% if related_posts %}
                    <h3 class="sidebar-title">Recommended</h3>
                    {# TODO - Add recommended posts #}
                
                    {% for related_post in related_posts %}
                        <a href="{% url 'blog_post_detail' related_post.slug %}" class="sidebar-link">
                            <div class="row">
{% if related_post.preview_image %}
                                <div class="col-4">

                                    <img src="{{ related_post.preview_image.url }}" alt="Blog Post Image"
                                         class="img-fluid" style="maximum-width: 400px">

                                </div>
{% endif %}
                                <div class="col-8">
                                    <p class="sidebar-title">{{ related_post.title }}</p>
                                    <p class="sidebar-meta">{{ related_post.date_published | naturaltime }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
{% endif %}

                </div>
                <div class="sidebar">
                    <h3 class="sidebar-title">Tags</h3>
                    <ul class="list-unstyled">
                        {% for tag in blog_post.tags.all %}
                            <li><a href="{% url 'tag' tag.slug %}" class="sidebar-link">#{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="sidebar">
                    <h3 class="sidebar-title">Explore</h3>
                    <ul class="list-unstyled">
                        {% for random_post in random_posts %}
                            <li><a href="{% url 'blog_post_detail' random_post.slug %}" class="sidebar-link">{{ random_post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 
