{% extends 'layout/base.html' %}
{% load humanize %}
{% block title %}
    Teensci
{% endblock %}

{% block content %}
    {% if request.path == "/" %}
        <section class="hero-section mt-4">
            <div class="container rounded-3">
                <h1>Welcome to Teensci</h1>
                <p>Follow me through my journey as I learn arduino hardware programming. Sometimes it gets poetic
                    too!</p>
                <a href="#latest-posts" class="btn btn-warning btn-lg">Explore</a>
            </div>
        </section>
    {% endif %}

{%  if post_tag %}
    <div class="container ">
    <div class="row mt-4 mb-4">
       <h1>Tag: {{ post_tag  | title }}</h1>
    </div>

    </div>
    {% elif search_word %}
     <div class="container ">
    <div class="row mt-4 mb-4">
       <h1>Search word: {{ search_word | title }}</h1>
    </div>

    </div>
    {% if not all_posts %}
        <div class="container">
            <div class="row">
            <p class="text-danger">Found Nothing!</p>
            </div>
        </div>
        {% endif %}
        {% endif %}
    <div class="container mt-4 mb-4">

        <div class="row align-items-stretch" id="latest-posts">

            {% if all_posts %}
                <div class="col-md-8">

{#                    	<h1>{{ request.path|slice:"/-1/"|last }}</h1>#}

                    <div class="row">
                        {% for latest_post in all_posts %}
                            <div class="col-md-6 mb-4">
                                <div class="card mb-4 h-100 d-flex flex-column shadow">

                                    {% if latest_post.preview_image %}
                                        <div class="d-flex justify-content-center flex-grow-1 overflow-hidden">
                                            <img src="{{ latest_post.preview_image.url }}" alt="Blog Post Image"
                                                 class="card-img-top img-fluid"
                                                 style="max-height: 200px; object-fit: cover;">
                                        </div>
                                    {% endif %}

                                    <div class="card-body d-flex flex-column">
                                        <div class="d-flex align-items-center mb-3">
                                            <div>
                                                <h6 class="m-0">
                                                    By {{ latest_post.author.first_name }} {{ latest_post.author.last_name }}
                                                </h6>
                                                <p class="text-muted m-0">
                                                    Published {{ latest_post.date_published | naturaltime }}
                                                </p>
                                            </div>
                                        </div>
                                        <h3 class="card-title">{{ latest_post.title }}</h3>
                                        {% if not latest_post.preview_image %}
                                            <p class="card-text">
                                                {{ latest_post.content | truncatewords:30 | safe }}
                                            </p>
                                        {% endif %}
                                        {% if latest_post.preview_image %}
                                        	<a href="{% url 'blog_post_detail' latest_post.slug %}" class="btn btn-warning mt-auto">Full
                                            article <i class="fa fa-arrow-circle-o-right"></i></a>
                                        {% else %}
                                        <a href="{% url 'blog_post_detail' latest_post.slug %}" class="btn btn-warning mt-auto">Read more <i class="fa fa-arrow-circle-o-right"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 p-4">
                    <div class="sidebar">
                        {% if featured_posts %}
                            <h3 class="sidebar-title">Featured</h3>

                            {% for featured_post in featured_posts %}
                                <a href="{% url 'blog_post_detail' featured_post.slug %}" class="sidebar-link">
                                    <div class="row">

                                        <div class="col-4">
                                            {% if featured_post.preview_image %}
                                                <img src="{{ featured_post.preview_image.url }}" alt="Blog Post Image"
                                                     class="img-fluid" style="maximum-width: 400px">
                                            {% endif %}
                                        </div>

                                        <div class="col-8">
                                            <p class="sidebar-title">{{ featured_post.title | title }}</p>
                                            <p class="sidebar-meta">{{ featured_post.date_published | naturaltime }}</p>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}

                    </div>

                    <h2>Tags</h2>

                    <ul class="list-unstyled">

                        {% for tag in all_tags %}
                            <li><a href="{% url 'tag' tag %}">#{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="sidebar">
                        {% if random_posts %}
                            <h3 class="sidebar-title">Explore</h3>
                            <ul class="list-unstyled">
                                {% for random_post in random_posts %}
                                    <li><a href="{% url 'blog_post_detail' random_post.slug %}"
                                           class="sidebar-link">{{ random_post.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if all_posts.number and all_posts.has_next or all_posts.has_previous %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

                {% if all_posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href='?page={{ all_posts.previous_page_number }}'>&laquo; Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href='#' tabindex="-1" aria-disabled="True">Previous</a>
                    </li>
                {% endif %}

                {% if all_posts.number %}
                    <li class="page-item disabled">

                        <a href="#" class="page-link" aria-disabled="True">{{ all_posts.number }}</a>
                    </li>
                {% endif %}

                {% if all_posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href='?page={{ all_posts.next_page_number }}'>Next &raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href='' tabindex="-1" aria-disabled="True">Next</a>
                    </li>
                {% endif %}
            </ul>

        </nav>
    {% endif %}
{% endblock %}
