{% extends 'layout/base.html' %}
{% load humanize %}
{% block title %}
    Home page
{% endblock %}

{% block content %}
    <div class="container mt-4 mb-4">
        <div class="row align-items-stretch">
            {% if all_posts %}
                {% for latest_post in all_posts %}
                   
                    <div class="col-md-6 mb-4">
                        <div class="card mb-4 h-100">
                            {% if latest_post.preview_image %}
                                <img src="{{ latest_post.preview_image.url }}" alt="Blog Post Image" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
{#                                    <img src="{{ post.author.avatar.url }}" alt="Author Avatar" class="rounded-circle me-2"#}
{#                                         style="width: 40px; height: 40px;">#}
                                    <div>
                                        <h6 class="m-0 text-black">
                                            By {{ latest_post.author.first_name }} {{ latest_post.author.last_name }}</h6>
                                        <p class="text-muted m-0">Published {{ latest_post.date_published | naturaltime }}</p>
                                    </div>
                                </div>
                                <h3 class="card-title">{{ latest_post.title }}</h3>
                                <p class="card-text">
                                    {{ latest_post.content | truncatewords:30 | safe }}
                                </p>
                                <a href="/post/{{ latest_post.slug }}" class="btn btn-warning">Read More</a>
                            </div>
                        </div>
                    </div>
                   
                {% endfor %}
                {% endif %}
        </div>
    </div>
    {% if all_posts.number %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            
            {% if all_posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href='?page={{ all_posts.previous_page_number }}'>&laquo; Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href='#' tabindex="-1" aria-disabled="True">Previous</a>
                </li>
            {% endif %}
                
            {% if all_posts.number %}
            <li class="page-item disabled">
                
                <a href="#" class="page-link" aria-disabled="True">{{ all_posts.number }}</a>
            </li>
            {% endif %}

                {% comment %} {% if not all_posts.has_previous and not all_posts.has_next %}
                <li class="page-item disabled">
                
                    <a href="#" class="page-link" aria-disabled="True">1</a>
                </li>
                {% endif %} {% endcomment %}

            {% if all_posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href='?page={{ all_posts.next_page_number }}'>Next &raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href='' tabindex="-1" aria-disabled="True">Next</a>
                </li>
            {% endif %}
        </ul>
      
    </nav>
      {% endif %}
{% endblock %}
