{% extends 'layout/base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Login
{% endblock %}
{% block styles %}
<style>
    .asteriskField {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 mt-5 mb-5 p-5 rounded-2 shadow">
                <h2 class="text-center">Login</h2>
                <form action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    {{ login_form| crispy }}
                    <button type="submit" class="btn btn-warning">Login</button>
                </form>
                <p class="float-end">Don't have an account? <a href="{% url 'signup' %}" class="text-primary">Signup.</a></p>
            </div>
        </div>
    </div>
{% endblock %}
