{% load crispy_forms_filters %}
{% load static %}

    <div class="container">
        <nav class="navbar navbar-expand-md header fixed-top navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="javascript:void(0)"><i class="fas fa-microchip fa-2x me-2 text-warning"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto text-uppercase" id="teensci">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog_home' %}">Teensci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>

                    </ul>
                    <form class="d-flex" role="search" method="get"
                          action="{% url 'search' %}">
                        <div class="input-group">
                            <input type="search" name="search_word" class="form-control form-control-dark"
                                   placeholder="Search..."/>

                            <button class="input-group-text text-decoration-none" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                    <div class="text-end">
                        {% if not user.is_authenticated %}
                            {% if not request.path == "signin" %}
                            	 <a href="{% url 'signin' %}">
                                <button type="button" class="btn btn-outline-light m-2">Login</button>
                             </a>
                            {% endif %}


                            <button type="button" class="btn btn-warning m-2" data-bs-toggle="modal"
                                    data-bs-target="#subscriptionModal">Subscribe
                            </button>
                        {% else %}
                            <div class="dropdown m-2">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">
                                    {{ user.username | title }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'signout' %}">Logout</a></li>
                                </ul>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
<div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="subscriptionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-black">
            <div class="modal-header">
                <h5 class="modal-title" id="subscriptionModalLabel">Subscribe to Our Newsletter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method="post" action="{% url 'subscribe' %}">

                    {% csrf_token %}
                    {{ subscription_form | crispy }}


                    <button type="submit" class="btn btn-warning">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>

