{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,500&display=swap" rel="stylesheet">
    {% block styles %}

    {% endblock %}

    {% block main_scripts %}

    {% endblock main_scripts %}

</head>
<body>
{% include 'partials/header.html' %}
{% include "partials/alert.html" %}
{% block content %}

{% endblock %}

{% include 'partials/footer.html' %}

<script src="https://kit.fontawesome.com/2f92acd9b1.js" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}">

</script>

<script src="{% static 'js/prism.js' %}">
</script>
<script>
    // PrismJs
    // Get all <pre> elements in the document
    let preElements = document.getElementsByTagName('pre');

    // Loop through each <pre> element
    for (let i = 0; i < preElements.length; i++) {

        let firstChild = preElements[i].firstElementChild;


        if (firstChild) {

            firstChild.classList.add('language-c');
        }
    }

    // JavaScript to handle the scrolling behavior of the navbar
    let prevScrollPos = window.pageYOffset;
    window.onscroll = function() {
        const currentScrollPos = window.pageYOffset;
        const navbar = document.querySelector(".navbar");

        if (prevScrollPos > currentScrollPos) {
            navbar.classList.remove("hidden");
        } else {
            navbar.classList.add("hidden");
        }

        prevScrollPos = currentScrollPos;
    };

</script>
{% block scripts %}

{% endblock %}
</body>
</html>