{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    {% block styles %}

    {% endblock %}

    {% block main_scripts %}
    
    {% endblock main_scripts %}

</head>
<body>
{% include 'partials/header.html'%}
{% include "partials/alert.html" %}
{% block content %}

{% endblock %}

{% include 'partials/footer.html' %}

<script src="https://kit.fontawesome.com/2f92acd9b1.js" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}">

</script>

<script src="{% static 'js/prism.js' %}">
</script>
<script>
    // PrismJs
    // Get all <pre> elements in the document
    let preElements = document.getElementsByTagName('pre');

    // Loop through each <pre> element
    for (let i = 0; i < preElements.length; i++) {
       
        let firstChild = preElements[i].firstElementChild;

    
        if (firstChild) {
            
            firstChild.classList.add('language-c');
        }
    }
</script>
{% block scripts %}
	
{% endblock %}
</body>
</html>